<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar seleccionado</title>
    <link rel="stylesheet" href="static/css/estilos.css">
</head>
<body>
    <h1>Modificar seleccionado</h1>
    <div id="app">
        <form @submit.prevent="obtenerSeleccionado">
            <label for="codigo">Código:</label>
            <input type="text" v-model="codigo" required><br>
            <button type="submit">Buscar</button>
            <a href="listado-selecciones.html">Volver a Lista de Selecciones</a>
        </form>

        <div v-if="mostrarDatosSeleccionado">
            <h2>Datos del Seleccionado</h2>
            <form @submit.prevent="guardarCambios">
                <label for="nombreModificar">Nombre:</label>
                <input type="text" name="" id="nombreModificar" v-model="nombre" required><br>

                <img v-if="imagen_url && !imagenSeleccionada" :src="imagen_url" alt="Bandera del País" style="max-width: 200px;">

                <img v-if="imagenSeleccionada" :src="imagenUrlTemp" alt="Vista previa de la nueva bandera" style="max-width: 200px;">

                <label for="nuevaImagen">Nueva Imagen:</label>
                <input type="file" id="nuevaImagen" @change="seleccionarImagen"><br>

                <button type="submit">Guardar Cambios</button>
                <a href="modificar-seleccionado.html">Cancelar</a>
            </form>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/modificar-seleccionado.js"></script>
</body>
</html>